# Task-3

In [106]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

In [107]:
data = pd.read_csv('C:/Users/Admin/Desktop/CodSoft/Churn_Modelling.csv')
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [108]:
X =data.drop('CustomerId', axis=1)
X

,RowNumber,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [109]:
v = data['CustomerId']
v

0       15634602
1       15647311
2       15619304
3       15701354
4       15737888
          ...
9995    15606229
9996    15569892
9997    15584532
9998    15682355
9999    15628319
Name: CustomerId, Length: 10000, dtype: int64

In [110]:
x = data.iloc[:,7:12].values
print(x)

[[2.0000000e+00 0.0000000e+00 1.0000000e+00 1.0000000e+00 1.0000000e+00]
 [1.0000000e+00 8.3807860e+04 1.0000000e+00 0.0000000e+00 1.0000000e+00]
 [8.0000000e+00 1.5966080e+05 3.0000000e+00 1.0000000e+00 0.0000000e+00]
 ...
 [7.0000000e+00 0.0000000e+00 1.0000000e+00 0.0000000e+00 1.0000000e+00]
 [3.0000000e+00 7.5075310e+04 2.0000000e+00 1.0000000e+00 0.0000000e+00]
 [4.0000000e+00 1.3014279e+05 1.0000000e+00 1.0000000e+00 0.0000000e+00]]

In [111]:
y = data.iloc[:,2:3].values
print(y)

[['Hargrave']
 ['Hill']
 ['Onio']
 ...
 ['Liu']
 ['Sabbatini']
 ['Walker']]

In [112]:
from sklearn.preprocessing import LabelEncoder
le_y = LabelEncoder()
Y=le_y.fit_transform(y)
Y

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([1115, 1177, 2040, ..., 1570, 2345, 2751])

In [113]:
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [114]:
x_train

array([[1.0000000e+01, 1.2630664e+05, 3.0000000e+00, 0.0000000e+00,
        0.0000000e+00],
       [4.0000000e+00, 0.0000000e+00, 1.0000000e+00, 0.0000000e+00,
        1.0000000e+00],
       [7.0000000e+00, 0.0000000e+00, 2.0000000e+00, 1.0000000e+00,
        0.0000000e+00],
       ...,
       [9.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0000000e+00,
        0.0000000e+00],
       [1.0000000e+01, 1.2822637e+05, 1.0000000e+00, 0.0000000e+00,
        0.0000000e+00],
       [6.0000000e+00, 1.0994151e+05, 1.0000000e+00, 1.0000000e+00,
        0.0000000e+00]])

In [115]:
x_test

array([[0.0000000e+00, 1.0737968e+05, 1.0000000e+00, 1.0000000e+00,
        1.0000000e+00],
       [5.0000000e+00, 0.0000000e+00, 2.0000000e+00, 0.0000000e+00,
        1.0000000e+00],
       [6.0000000e+00, 1.2134588e+05, 4.0000000e+00, 1.0000000e+00,
        0.0000000e+00],
       ...,
       [2.0000000e+00, 1.3134146e+05, 2.0000000e+00, 0.0000000e+00,
        1.0000000e+00],
       [3.0000000e+00, 0.0000000e+00, 2.0000000e+00, 1.0000000e+00,
        1.0000000e+00],
       [7.0000000e+00, 0.0000000e+00, 2.0000000e+00, 1.0000000e+00,
        0.0000000e+00]])

In [116]:
y_train

array([['Milne'],
       ['Chiu'],
       ['Ukaegbunam'],
       ...,
       ['Estrada'],
       ['Toscani'],
       ['L?']], dtype=object)

In [117]:
y_test

array([['Gallo'],
       ['Allan'],
       ['Kornilova'],
       ...,
       ['Macleod'],
       ['Gilroy'],
       ['Jensen']], dtype=object)

In [118]:
from sklearn.linear_model import LogisticRegression

In [119]:
lin = LogisticRegression()
model = lin.fit(x_train,y_train)
y_prediction = model.predict(x_test)
y_prediction

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array(['Smith', 'Ross', 'Smith', ..., 'Smith', 'Ross', 'Ross'],
      dtype=object)

In [120]:
accuracy_score(y_test,y_prediction,normalize=True)

0.0028

In [121]:
confusion_matrix(y_test,y_prediction)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [122]:
logistic_regression_recall = recall_score(y_test,y_prediction,average='weighted')
print(logistic_regression_recall)

0.0028

In [123]:
logistic_regression_f1 = f1_score(y_test,y_prediction,average='weighted')
print(logistic_regression_f1)

3.19176975571016e-05

In [124]:
logistic_regression_precision = precision_score(y_test,y_prediction,average='weighted')
print(logistic_regression_precision)

1.6050338105503658e-05

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))